@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=JetBrains+Mono:wght@400;500&display=swap");

@theme {
  --font-sans: "Literata", serif;
  --font-serif: "Literata", serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-accent: #dc143c;
  --color-accent-hover: #b91030;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 20px;
}
