---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact">
  <div class="max-w-prose mx-auto">
    <h1 class="font-serif text-4xl font-bold mb-8">Get in Touch</h1>
    <div class="prose prose-stone prose-lg">
      <p>
        The best way to reach me is via email at
        <a href="mailto:ffledgling@gmail.com">ffledgling@gmail.com</a>.
      </p>
      <p>
        You can also find me on <a href="https://github.com/ffledgling"
          >GitHub</a
        >
        and <a href="https://linkedin.com/in/anhadjaisingh">LinkedIn</a>.
      </p>
    </div>
  </div>
</BaseLayout>
